[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger = "*"
psycopg2-binary = "==2.9.10"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"
cloudinary = "*"
flask-admin = "==2.0.0"
typing-extensions = "*"
flask-jwt-extended = "==4.6.0"
wtforms = "==3.1.2"
sqlalchemy = "==2.0.31"
colorama = "*"
google-generativeai = "*"
pillow = "*"
requests = "*"
flask-socketio = "*"

[requires]
python_version = "3.13"

[scripts]
start="flask --app src/app.py run -p 3001 -h 0.0.0.0"
init="flask --app src/app.py db init"
migrate="flask --app src/app.py db migrate"
local="heroku local"
upgrade="flask --app src/app.py db upgrade"
downgrade="flask --app src/app.py db downgrade"
insert-test-data="flask --app src/app.py insert-test-data"
reset_db="bash ../docs/assets/reset_migrations.bash"
deploy="echo 'Please follow this 3 steps to deploy: https://github.com/4GeeksAcademy/flask-rest-hello/blob/master/README.md#deploy-your-website-to-heroku' "
